:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px .6fr 1.5fr 1fr 60px;
  grid-template-areas:
    "sidebar nav nav nav nav"
    "sidebar content1 content2 content3 content4"
    "sidebar main main main main"
    "sidebar list list list list"
    "footer footer footer footer footer";
  grid-gap: 0.1rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #004d40;
  text-align: center;
}

.container-collapse {
  grid-template-columns: 80px 1fr 1fr 1fr 1fr;
}

nav {
  background: #a7ffeb;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5rem;
}

main {
  background: #84ffff;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.sidebar {
  background: #18ffff;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.content1 {
  background: #6fffd2;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.content2 {
  background: #64ffda;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.content3 {
  background: #73ffba;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.content4 {
  background: #ff2526;
  grid-area: content4;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

.list {
  background: #ff25ee;
  grid-area: list;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #1de9b6;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr 2fr 1fr 50px;
    grid-template-areas:
      "sidebar nav nav"
      "sidebar content1 content2"
      "sidebar content3 content4"
      "sidebar main main"
      "sidebar list list"
      "footer footer footer";
  }
  .container-collapse {
    grid-template-columns: 80px 1fr 1fr;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr 3fr 2fr 60px;
    grid-template-areas:
      "sidebar nav"
      "sidebar content1"
      "sidebar content2"
      "sidebar content3"
      "sidebar content4"
      "sidebar main"
      "sidebar list"
      "footer footer";
  }
  .container-collapse {
    grid-template-columns: 80px 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr 1fr 3fr 2fr .5fr;
    grid-template-areas:
      "nav"
      "content1"
      "content2"
      "content3"
      "content4"
      "main"
      "list"
      "footer";
  }
  .sidebar {
    position: absolute;
    left: -90px;
    height: 80%;
  }
}
